<article class="col-4">
    <div class="card">
        <img src="/img/{{item}}.png" alt="" class="card-img-top">
        <div class="card-body">
            <p class="lead"><b>{{item}}</b></p>
            <p>Agrega el producto a la canasta y luego disfruta</p>
            <button type="button" class="btn btn-success" data-fruta="{{item}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar
            </button>
        </div>
    </div>
</article>